#dd_menu { 
	border: 1px solid #aaaaaa;
    font-size: 13px;
    list-style-type: none ;	
    margin: 0;
    padding: 5px;
    }
#dd_menu li{ 
	list-style-type: none;
	position:relative;
	display:block;
	margin:0;
	} 
	
#dd_menu li a{
	background-color: #e1e1e1;
	color:#414141;
	border-bottom: 1px solid #FFFFFF;
    display: block;
    font-weight: bold;
    overflow: hidden;
    padding: 6px;
    text-decoration: none;
	text-align: center;	
}

#dd_menu li a.subfolderstyle {
    background-color: #414141;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}
#dd_menu li ul {
    background-color: inherit;
    color: #000000;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 50;
}

#dd_menu li ul li {border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;}

#dd_menu li ul li ul li {border-left: 0px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;}
	
#dd_menu li ul li a.subfolderstyle {
    background-color: #AEADAD;
    color: #FFFFFF;
	background-image:url(images/arrow.png);
	background-position:98% 50%;
	background-repeat: no-repeat;
	}
#dd_menu li ul li a:hover{
	background-color: #414141;
    color: #FFFFFF;
}
